In [1]:
import numpy as np
import pandas as pd
from src.dataloader_ import *
from src.network_ import *
from src.utils import *

import os
import sys
import gc
import pickle
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer, KNNImputer

train_series_dir = "../../inputs/series_train.parquet/"
test_series_dir = "../../inputs/series_test.parquet/"

data_dic_path = "../../inputs/data_dictionary.csv"
sample_submission_path = "../../inputs/sample_submission.csv"
train_path = "../../inputs/train.csv"
test_path = "../../inputs/test.csv"

train = pd.read_csv(train_path)
test = pd.read_csv(test_path)
sample_submission = pd.read_csv(sample_submission_path)
data_dic = pd.read_csv(data_dic_path)

import os
import random

import numpy as np
import torch


def seed_torch(seed=1029):
    random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    np.random.seed(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.backends.cudnn.deterministic = True


nb_name = os.path.basename(os.getcwd())  # notebook name
seed_torch(seed=42)

In [2]:
train

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday,sii
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,4.0,2.0,4.0,55.0,NaN,NaN,NaN,Fall,3.0,2.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,0.0,0.0,0.0,0.0,Fall,46.0,64.0,Summer,0.0,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,2.0,1.0,1.0,28.0,Fall,38.0,54.0,Summer,2.0,0.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,3.0,4.0,1.0,44.0,Summer,31.0,45.0,Winter,0.0,1.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3955,ff8a2de4,Fall,13,0,Spring,60.0,Fall,16.362460,59.5,82.4,...,1.0,1.0,0.0,32.0,Winter,35.0,50.0,Fall,1.0,1.0
3956,ffa9794a,Winter,10,0,NaN,NaN,Spring,18.764678,53.5,76.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winter,0.0,NaN
3957,ffcd4dbd,Fall,11,0,Spring,68.0,Winter,21.441500,60.0,109.8,...,1.0,0.0,1.0,31.0,Winter,56.0,77.0,Fall,0.0,1.0
3958,ffed1dd5,Spring,13,0,Spring,70.0,Winter,12.235895,70.7,87.0,...,1.0,1.0,1.0,19.0,Spring,33.0,47.0,Spring,1.0,0.0
3959,ffef538e,Spring,11,0,NaN,NaN,Winter,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spring,1.0,NaN

In [3]:
feature_imputer = SimpleImputer(strategy="mean")
sii_imputer = SimpleImputer(strategy="mean")

numeric_cols = test.select_dtypes(include=["float64", "int64"]).columns
numeric_feature_cols = numeric_cols.copy()
# numeric_feature_cols = numeric_feature_cols.drop("sii")

numeric_sii_cols = train.select_dtypes(include=["float64", "int64"]).columns

sii_inputed = sii_imputer.fit_transform(train[numeric_sii_cols])
feature_imputer.fit(test[numeric_feature_cols])
feature_inputed = feature_imputer.fit_transform(train[numeric_feature_cols])

train_imputed = pd.DataFrame(feature_inputed, columns=numeric_feature_cols)

for col in train.columns:
    if col not in numeric_cols:
        train_imputed[col] = train[col]

train = train_imputed

sii_impute = pd.DataFrame(sii_inputed, columns=numeric_sii_cols)
sii_impute["sii"] = sii_impute["sii"].round().astype(int)
train["sii"] = sii_impute["sii"]

with open("feature_imputer.pkl", "wb") as f:
    pickle.dump(feature_imputer, f)

train.head()

,Basic_Demos-Age,Basic_Demos-Sex,CGAS-CGAS_Score,Physical-BMI,Physical-Height,Physical-Weight,Physical-Waist_Circumference,Physical-Diastolic_BP,Physical-HeartRate,Physical-Systolic_BP,...,PCIAT-PCIAT_15,PCIAT-PCIAT_16,PCIAT-PCIAT_17,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,SDS-Season,PreInt_EduHx-Season,sii
0,5.0,0.0,51.000000,16.877316,46.000000,50.800000,27.278508,69.648951,81.597236,116.983074,...,4.0,4.0,4.0,4.0,2.0,4.0,55.0,NaN,Fall,2
1,9.0,0.0,65.454771,14.035590,48.000000,46.000000,22.000000,75.000000,70.000000,122.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Fall,Summer,0
2,10.0,1.0,71.000000,16.648696,56.500000,75.600000,27.278508,65.000000,94.000000,117.000000,...,1.0,0.0,2.0,2.0,1.0,1.0,28.0,Fall,Summer,0
3,9.0,0.0,71.000000,18.292347,56.000000,81.600000,27.278508,60.000000,97.000000,117.000000,...,0.0,3.0,4.0,3.0,4.0,1.0,44.0,Summer,Winter,1
4,18.0,1.0,65.454771,19.331929,55.946713,89.038615,27.278508,69.648951,81.597236,116.983074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [4]:
train["sii"].value_counts()

sii
1    1954
0    1594
2     378
3      34
Name: count, dtype: int64

### テーブルデータセット

In [5]:
add_features = [
    "BMI_Age",
    "Internet_Hours_Age",
    "BMI_Internet_Hours",
    "BFP_BMI",
    "FFMI_BFP",
    "FMI_BFP",
    "LST_TBW",
    "BFP_BMR",
    "BFP_DEE",
    "BMR_Weight",
    "DEE_Weight",
    "SMM_Height",
    "Muscle_to_Fat",
    "Hydration_Status",
    "ICW_TBW",
]


def feature_engineering(df):
    # season_cols = [col for col in df.columns if "Season" in col]
    # df = df.drop(season_cols, axis=1)
    df["BMI_Age"] = df["Physical-BMI"] * df["Basic_Demos-Age"]
    df["Internet_Hours_Age"] = (
        df["PreInt_EduHx-computerinternet_hoursday"] * df["Basic_Demos-Age"]
    )
    df["BMI_Internet_Hours"] = (
        df["Physical-BMI"] * df["PreInt_EduHx-computerinternet_hoursday"]
    )
    df["BFP_BMI"] = df["BIA-BIA_Fat"] / df["BIA-BIA_BMI"]
    df["FFMI_BFP"] = df["BIA-BIA_FFMI"] / df["BIA-BIA_Fat"]
    df["FMI_BFP"] = df["BIA-BIA_FMI"] / df["BIA-BIA_Fat"]
    df["LST_TBW"] = df["BIA-BIA_LST"] / df["BIA-BIA_TBW"]
    df["BFP_BMR"] = df["BIA-BIA_Fat"] * df["BIA-BIA_BMR"]
    df["BFP_DEE"] = df["BIA-BIA_Fat"] * df["BIA-BIA_DEE"]
    df["BMR_Weight"] = df["BIA-BIA_BMR"] / df["Physical-Weight"]
    df["DEE_Weight"] = df["BIA-BIA_DEE"] / df["Physical-Weight"]
    df["SMM_Height"] = df["BIA-BIA_SMM"] / df["Physical-Height"]
    df["Muscle_to_Fat"] = df["BIA-BIA_SMM"] / df["BIA-BIA_FMI"]
    df["Hydration_Status"] = df["BIA-BIA_TBW"] / df["Physical-Weight"]
    df["ICW_TBW"] = df["BIA-BIA_ICW"] / df["BIA-BIA_TBW"]

    return df


train = feature_engineering(train)
train = train.replace([np.inf, -np.inf], np.nan)
for add_ in add_features:
    train[add_] = train[add_].fillna(0.0)
train = train.dropna(thresh=10, axis=0)
test = feature_engineering(test)

In [6]:
# onehotEncoderの作成
from sklearn.preprocessing import OneHotEncoder

categorical_columns = [
    "Basic_Demos-Enroll_Season",
    "CGAS-Season",
    "Physical-Season",
    "PAQ_C-Season",
    "FGC-Season",
    "Fitness_Endurance-Season",
    "PAQ_A-Season",
    "BIA-Season",
    "SDS-Season",
    "PreInt_EduHx-Season",
]

double_columns = [
    "FGC-FGC_SRR_Zone",
    "BIA-BIA_SMM",
    "Physical-Waist_Circumference",
    "BIA-BIA_FFMI",
    "FGC-FGC_CU",
    "PreInt_EduHx-computerinternet_hoursday",
    "BIA-BIA_ECW",
    "FGC-FGC_CU_Zone",
    "FGC-FGC_SRL_Zone",
    "BIA-BIA_DEE",
    "Physical-Weight",
    "Fitness_Endurance-Time_Mins",
    "FGC-FGC_SRR",
    "SDS-SDS_Total_T",
    "FGC-FGC_PU",
    "BIA-BIA_FFM",
    "FGC-FGC_TL_Zone",
    "Physical-BMI",
    "Physical-Systolic_BP",
    "Physical-HeartRate",
    "BIA-BIA_ICW",
    "Physical-Height",
    "FGC-FGC_SRL",
    "BIA-BIA_BMC",
    "Fitness_Endurance-Time_Sec",
    "BIA-BIA_Frame_num",
    "Basic_Demos-Age",
    "FGC-FGC_GSND_Zone",
    "Basic_Demos-Sex",
    "FGC-FGC_GSND",
    "BIA-BIA_LST",
    "FGC-FGC_TL",
    "BIA-BIA_BMI",
    "BIA-BIA_FMI",
    "PAQ_C-PAQ_C_Total",
    "BIA-BIA_Activity_Level_num",
    "FGC-FGC_GSD",
    "BIA-BIA_BMR",
    "BIA-BIA_Fat",
    "SDS-SDS_Total_Raw",
    "CGAS-CGAS_Score",
    "FGC-FGC_PU_Zone",
    "BIA-BIA_LDM",
    "Fitness_Endurance-Max_Stage",
    "PAQ_A-PAQ_A_Total",
    "BIA-BIA_TBW",
    "FGC-FGC_GSD_Zone",
    "Physical-Diastolic_BP",
]

###################### categorical columns ######################
# trainのtargetをonehot化
onehot_encoder = OneHotEncoder(handle_unknown="ignore", sparse=False)
onehot_encoder.fit(train[categorical_columns])

with open("./assets/onehot_encoder.pkl", "wb") as f:
    pickle.dump(onehot_encoder, f)

categorical_feature = onehot_encoder.transform(train[categorical_columns])

###################### double columns ######################
# trainのtargetを標準化
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(train[double_columns + add_features])

with open("./assets/scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

double_feature = scaler.transform(train[double_columns + add_features])
# double_feature = train[double_columns].values

# 欠損値の補完
double_feature = np.nan_to_num(double_feature)

###################### inputの作成 ######################

ids = train["id"].values.reshape(-1, 1)
X = np.concatenate([categorical_feature, double_feature], axis=1)
y = train["sii"].fillna(-1).values.reshape(-1, 1)

# DataFrameの作成
ids_df = pd.DataFrame(ids, columns=["id"])
X_df = pd.DataFrame(X, columns=[f"feature_{i}" for i in range(X.shape[1])])
y_df = pd.DataFrame(y, columns=["sii"])

train_df = pd.concat([ids_df, X_df, y_df], axis=1)
train_df

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_103,feature_104,feature_105,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,sii
0,00008ff9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-0.982821,0.014794,0.014632,0.172934,0.148872,-0.168935,-0.054949,0.005539,2.207978,2
1,000fd460,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.918586,0.014372,0.014182,0.277342,0.259111,-0.264243,0.168535,-0.037231,2.771143,0
2,00105258,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,-0.168185,0.015855,0.015846,0.069164,0.078134,-0.000049,-0.000368,0.060192,-0.287631,0
3,00115b9f,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.340601,0.015894,0.015928,-0.060816,-0.050308,-0.124803,-0.058785,-0.056136,0.587341,1
4,0016bb22,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.168185,0.015855,0.015846,-0.059385,-0.063458,0.005480,-0.000368,-0.023088,-0.287631,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3955,ff8a2de4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.046460,0.015261,0.015210,-0.020161,-0.004701,-0.099419,0.176353,0.003719,0.036804,1
3956,ffa9794a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.168185,0.015855,0.015846,0.060245,0.068311,0.031303,-0.000368,0.054414,-0.287631,1
3957,ffcd4dbd,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.771192,0.017739,0.017773,-0.188196,-0.232435,-0.118557,-0.127217,-0.108407,-0.107980,1
3958,ffed1dd5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.178480,0.013327,0.012826,0.063652,0.312696,0.031154,-2.208516,0.111359,-0.382681,0
3959,ffef538e,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.168185,0.015855,0.015846,-0.059385,-0.063458,0.005480,-0.000368,-0.023088,-0.287631,1

In [7]:
def read_parquet(base_dir, id_):
    path = os.path.join(base_dir, f"id={id_}", "part-0.parquet")
    return pd.read_parquet(path)


def get_valid_ids(base_dir):
    return [f.split("=")[1].split(".")[0] for f in os.listdir(base_dir)]


p = read_parquet(base_dir="../../inputs/series_train.parquet/", id_="ffcd4dbd")
# p = read_parquet(base_dir="../../inputs/series_train.parquet/", id_="10e46254")
# p

In [8]:
from glob import glob

# len(glob("../../normalized/*"))
len(glob("../../inputs/series_train.parquet/*"))

996

## Metric

In [9]:
from sklearn.metrics import *


def quadratic_weighted_kappa(y_true, y_pred):
    return cohen_kappa_score(y_true, y_pred, weights="quadratic")


def threshold_Rounder(oof_non_rounded, thresholds):
    return np.where(
        oof_non_rounded < thresholds[0],
        0,
        np.where(
            oof_non_rounded < thresholds[1],
            1,
            np.where(oof_non_rounded < thresholds[2], 2, 3),
        ),
    )


def evaluate_predictions(thresholds, y_true, oof_non_rounded):
    rounded_p = threshold_Rounder(oof_non_rounded, thresholds)
    return -quadratic_weighted_kappa(y_true, rounded_p)

## Model, Dataset

In [10]:
train_df.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_103,feature_104,feature_105,feature_106,feature_107,feature_108,feature_109,feature_110,feature_111,sii
0,00008ff9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-0.982821,0.014794,0.014632,0.172934,0.148872,-0.168935,-0.054949,0.005539,2.207978,2
1,000fd460,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.918586,0.014372,0.014182,0.277342,0.259111,-0.264243,0.168535,-0.037231,2.771143,0
2,00105258,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,-0.168185,0.015855,0.015846,0.069164,0.078134,-0.000049,-0.000368,0.060192,-0.287631,0
3,00115b9f,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.340601,0.015894,0.015928,-0.060816,-0.050308,-0.124803,-0.058785,-0.056136,0.587341,1
4,0016bb22,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.168185,0.015855,0.015846,-0.059385,-0.063458,0.005480,-0.000368,-0.023088,-0.287631,1

In [11]:
from sklearn.model_selection import train_test_split

use_ids = list(
    train_df[train_df["sii"] != -1]["id"].unique()
)  # get_valid_ids(base_dir="../../normalized/")

len(use_ids)

3960

## Training

In [12]:
from tqdm import tqdm
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=42)
use_ids = np.array(use_ids)
for train_index, valid_index in kf.split(use_ids):
    train_ids = [use_ids[i] for i in train_index]
    valid_ids = [use_ids[i] for i in valid_index]

    train_dataset = CMIDataset(
        table_df=train_df,
        valid_ids=use_ids,
        base_dir="../../inputs/series_train.parquet/",
        save_filename=nb_name,
    )

In [13]:
train_dataset[0]["time_input"].shape

torch.Size([31, 17280, 15])

In [14]:
from tqdm import tqdm
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits=4, shuffle=True, random_state=42)

CV = []

batch_size = 1

# use_ids = np.array(use_ids[:30]) # debug
use_ids = np.array(use_ids)

extract_df = train[train["id"].isin(use_ids)].reset_index(drop=True)

test_df = train[["id", "sii"]].copy()
# test_df["pred_sii"] = 0
oof_preds = []

for fold, (train_ids, valid_ids) in enumerate(
    skf.split(extract_df["id"], extract_df["sii"])
):
    print(f"################### fold:{fold} ###################")
    best_valid_score = -100

    train_ids = use_ids[train_ids]
    valid_ids = use_ids[valid_ids]

    train_dataset = CMIDataset(
        table_df=train_df,
        valid_ids=train_ids,
        base_dir="../../inputs/series_train.parquet/",
        save_filename=nb_name,
    )
    train_loader = DataLoader(
        train_dataset, batch_size=batch_size, shuffle=True, num_workers=30
    )

    vlaid_dataset = CMIDataset(
        table_df=train_df,
        valid_ids=valid_ids,
        base_dir="../../inputs/series_train.parquet/",
        save_filename=nb_name,
    )

    valid_loader = DataLoader(
        vlaid_dataset, batch_size=batch_size, shuffle=False, num_workers=30
    )
    # data_loader = DataLoader(dataset, batch_size=1, shuffle=True)

    # model = TimeEncoder(input_size=26, hidden_size=13, num_layers=2).to("cuda")
    model = CMIModel(input_size=26, hidden_size=13, num_layers=2).to("cuda")

    criterion = nn.MSELoss()
    optimizer = torch.optim.Adam(model.parameters(), lr=0.001)
    spot_oof_preds = []

    for epoch in range(5):
        total_train_loss = 0
        total_valid_loss = 0

        train_pred = []
        valid_pred = []
        trian_gt = []
        valid_gt = []

        tq = tqdm(train_loader)
        for i, data in enumerate(train_loader):
            table_input = data["table_input"].to("cuda")
            time_input = data["time_input"].to("cuda")
            mask = data["mask"].to("cuda").to(torch.float32)
            target_ = data["output"].to("cuda")
            optimizer.zero_grad()
            output, attention_weight = model(table_input, time_input, active_mask=mask)
            loss = criterion(output, target_)
            loss.backward()
            optimizer.step()
            total_train_loss += loss.item()

            train_pred.append(output.detach().cpu().numpy())
            trian_gt.append(target_.detach().cpu().numpy())

            tq.set_postfix(loss=total_train_loss / (i + 1))
            tq.update()
        tq.close()

        tq = tqdm(valid_loader)
        for i, data in enumerate(valid_loader):
            table_input = data["table_input"].to("cuda")
            time_input = data["time_input"].to("cuda")
            mask = data["mask"].to("cuda").to(torch.float32)
            target_ = data["output"].to("cuda")
            output, attention_weight = model(table_input, time_input, active_mask=mask)
            loss = criterion(output, target_)
            total_valid_loss += loss.item()

            valid_pred.append(output.detach().cpu().numpy())
            valid_gt.append(target_.detach().cpu().numpy())

            tq.set_postfix(loss=total_valid_loss / (i + 1))
            tq.update()
        tq.close()

        metric_train_pred = np.concatenate(train_pred)
        metric_valid_pred = np.concatenate(valid_pred)
        metric_train_gt = np.concatenate(trian_gt)
        metric_valid_gt = np.concatenate(valid_gt)

        train_score = quadratic_weighted_kappa(
            metric_train_gt, metric_train_pred.round(0).astype(int)
        )

        valid_score = quadratic_weighted_kappa(
            metric_valid_gt, metric_valid_pred.round(0).astype(int)
        )

        print(
            f"epoch: {epoch}, loss: {total_train_loss / len(train_loader)}, valid_loss: {total_valid_loss / len(valid_loader)}, train_score: {train_score}, valid_score: {valid_score}"
        )

        if valid_score > best_valid_score:
            best_valid_score = valid_score
            torch.save(model.state_dict(), f"./assets/model_{fold}.pth")

            spot_oof_preds = []
            for i, id_ in enumerate(valid_ids):
                spot_oof_preds.append({"id": id_, "pred_sii": valid_pred[i][0][0]})

    oof_preds.append(spot_oof_preds)
    CV.append(best_valid_score)

print(f"CV: {np.mean(CV)}")

################### fold:0 ###################

  0%|          | 0/2970 [00:00<?, ?it/s]Could not load symbol cublasGetSmCountTarget from libcublas.so.11. Error: /usr/local/cuda-11.3/lib64/libcublas.so.11: undefined symbol: cublasGetSmCountTarget
100%|██████████| 2970/2970 [03:13<00:00, 15.34it/s, loss=0.469]
100%|██████████| 990/990 [00:34<00:00, 28.77it/s, loss=0.356]

epoch: 0, loss: 0.46948210775576105, valid_loss: 0.3564136744239247, train_score: 0.31983222002490985, valid_score: 0.36319779462439705

100%|██████████| 2970/2970 [01:49<00:00, 27.13it/s, loss=0.391]
100%|██████████| 990/990 [00:22<00:00, 44.33it/s, loss=0.368]

epoch: 1, loss: 0.3905305580952891, valid_loss: 0.3677788370691078, train_score: 0.38989947176017736, valid_score: 0.42211164185832806

100%|██████████| 2970/2970 [01:59<00:00, 24.83it/s, loss=0.473]
100%|██████████| 990/990 [00:27<00:00, 36.56it/s, loss=0.372]

epoch: 2, loss: 0.4732680256173042, valid_loss: 0.37185999766327243, train_score: 0.43508295652023554, valid_score: 0.4282134170396461

100%|██████████| 2970/2970 [01:53<00:00, 26.10it/s, loss=0.342]
100%|██████████| 990/990 [00:22<00:00, 44.82it/s, loss=0.381]

epoch: 3, loss: 0.34201563606880064, valid_loss: 0.38098157915221353, train_score: 0.4643836656849425, valid_score: 0.3814082030745011

100%|██████████| 2970/2970 [01:56<00:00, 25.47it/s, loss=1.93]
100%|██████████| 990/990 [00:25<00:00, 38.61it/s, loss=0.359]

epoch: 4, loss: 1.9303830609086696, valid_loss: 0.3586435099543123, train_score: 0.502139137163646, valid_score: 0.3950209453295901
################### fold:1 ###################

100%|██████████| 2970/2970 [01:26<00:00, 34.22it/s, loss=0.571]
100%|██████████| 990/990 [01:46<00:00,  9.34it/s, loss=0.348]

epoch: 0, loss: 0.5707256177542226, valid_loss: 0.3480191537093355, train_score: 0.33837813992551546, valid_score: 0.44315880821521547

100%|██████████| 2970/2970 [02:29<00:00, 19.82it/s, loss=0.365]
100%|██████████| 990/990 [00:27<00:00, 35.80it/s, loss=0.425]

epoch: 1, loss: 0.36490024278375277, valid_loss: 0.425174241866206, train_score: 0.39880664941707333, valid_score: 0.3838423300238445

100%|██████████| 2970/2970 [02:46<00:00, 17.81it/s, loss=0.433]
100%|██████████| 990/990 [00:24<00:00, 40.12it/s, loss=0.336]

epoch: 2, loss: 0.43316550645012114, valid_loss: 0.33634288542985596, train_score: 0.4139206692737798, valid_score: 0.44055974848306056

100%|██████████| 2970/2970 [02:13<00:00, 22.18it/s, loss=0.339]
100%|██████████| 990/990 [00:25<00:00, 38.74it/s, loss=0.351]

epoch: 3, loss: 0.33879305706575963, valid_loss: 0.35106155537515227, train_score: 0.48648069326637466, valid_score: 0.39729404744957764

100%|██████████| 2970/2970 [02:00<00:00, 24.58it/s, loss=2.41]
100%|██████████| 990/990 [00:25<00:00, 38.93it/s, loss=0.35]

epoch: 4, loss: 2.407699453209071, valid_loss: 0.3504710652190571, train_score: 0.507288073194344, valid_score: 0.42168777693874937
################### fold:2 ###################

100%|██████████| 2970/2970 [01:45<00:00, 28.23it/s, loss=0.39]
100%|██████████| 990/990 [00:28<00:00, 34.41it/s, loss=0.366]

epoch: 0, loss: 0.38994476550482315, valid_loss: 0.36570338325944635, train_score: 0.3540258665506668, valid_score: 0.26824262769922813

100%|██████████| 2970/2970 [02:19<00:00, 21.35it/s, loss=0.348]
100%|██████████| 990/990 [00:25<00:00, 38.18it/s, loss=0.373]

epoch: 1, loss: 0.34751479718447964, valid_loss: 0.3727006683824867, train_score: 0.4088373870356453, valid_score: 0.419005665763429

100%|██████████| 2970/2970 [02:22<00:00, 20.81it/s, loss=0.363]
100%|██████████| 990/990 [00:25<00:00, 39.38it/s, loss=0.351]

epoch: 2, loss: 0.3627459112754362, valid_loss: 0.3514262161475114, train_score: 0.4134304559593619, valid_score: 0.41941034956094414

100%|██████████| 2970/2970 [02:22<00:00, 20.89it/s, loss=0.321]
100%|██████████| 990/990 [00:26<00:00, 36.77it/s, loss=0.343]

epoch: 3, loss: 0.32085302269303806, valid_loss: 0.3427813232808443, train_score: 0.46012185931693284, valid_score: 0.4280812625276813

100%|██████████| 2970/2970 [02:19<00:00, 21.34it/s, loss=0.389]
100%|██████████| 990/990 [00:34<00:00, 28.71it/s, loss=0.365]

epoch: 4, loss: 0.3889482574480439, valid_loss: 0.3647706226180728, train_score: 0.5131932822088443, valid_score: 0.38572994738257993
################### fold:3 ###################

100%|██████████| 2970/2970 [01:50<00:00, 26.87it/s, loss=0.394]
100%|██████████| 990/990 [01:37<00:00, 10.20it/s, loss=0.437]

epoch: 0, loss: 0.39362679967260106, valid_loss: 0.4371279177422475, train_score: 0.34065004525951537, valid_score: 0.3849595573496063

100%|██████████| 2970/2970 [02:13<00:00, 22.17it/s, loss=0.348]
100%|██████████| 990/990 [00:28<00:00, 34.75it/s, loss=0.369]

epoch: 1, loss: 0.34794547683255167, valid_loss: 0.36874197021350047, train_score: 0.4202780581512714, valid_score: 0.37271294639279895

100%|██████████| 2970/2970 [01:55<00:00, 25.74it/s, loss=0.322]
100%|██████████| 990/990 [00:26<00:00, 37.39it/s, loss=0.356]

epoch: 2, loss: 0.3224254707670058, valid_loss: 0.35562408891468633, train_score: 0.46016683121082746, valid_score: 0.3923913400571635

100%|██████████| 2970/2970 [01:53<00:00, 26.22it/s, loss=0.303]
100%|██████████| 990/990 [00:28<00:00, 35.29it/s, loss=0.492]

epoch: 3, loss: 0.30269960238474486, valid_loss: 0.4916409742580929, train_score: 0.4933115320363096, valid_score: 0.39453329485938704

100%|██████████| 2970/2970 [01:53<00:00, 26.10it/s, loss=0.278]
100%|██████████| 990/990 [00:25<00:00, 38.44it/s, loss=1.29]

epoch: 4, loss: 0.27768956718738963, valid_loss: 1.28660256677671, train_score: 0.5456878495320223, valid_score: 0.3910585248115972
CV: 0.42349669566048254

In [15]:
oof_preds_df = pd.concat([pd.DataFrame(p) for p in oof_preds], axis=0).reset_index(
    drop=True
)
oof_preds_df.head()

         id  pred_sii
0  00105258  0.662729
1  00115b9f  0.392740
2  0038ba98  0.652224
3  0083e397  0.804057
4  00f574e9  1.008993

In [16]:
test_pred_df = test_df.merge(oof_preds_df, on="id", how="inner")
test_pred_df.head()

         id  sii  pred_sii
0  00008ff9    2  0.589984
1  000fd460    0  0.255791
2  00105258    0  0.662729
3  00115b9f    1  0.392740
4  0016bb22    1  0.944376

In [17]:
from scipy.optimize import minimize

KappaOPtimizer = minimize(
    evaluate_predictions,
    x0=[0.5, 1.5, 2.5],
    args=(test_pred_df["sii"], test_pred_df["pred_sii"]),
    method="Nelder-Mead",
)
assert KappaOPtimizer.success, "Optimization did not converge."

oof_tuned = threshold_Rounder(test_pred_df["pred_sii"], KappaOPtimizer.x)
tKappa = quadratic_weighted_kappa(test_pred_df["sii"], oof_tuned)
print(f"tuned Kappa: {tKappa}")

tuned Kappa: 0.44113707077131625

In [18]:
print(KappaOPtimizer.x)

[0.51525529 1.18329113 2.61893989]